{
    "app": {
        "name": "myApp",
        "log_file": "log.txt"
    },
    "http": {
        "host": "127.0.0.1",
        "port": 8003,
        "prefork": true
    },
    "database": {
        "host": "127.0.0.1",
        "port": 3306,
        "name": "my_app",
        "user": "rlapz",
        "password": "1234",
        "connection_lifetime_max": 180,
        "connections_open_max": 10,
        "connections_idle_max": 10,
        "args": "parseTime=true"
    }
}